<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.csdn.xs.exhausts.mapper.ProcessMapper">
    <resultMap id="process" type="com.csdn.xs.exhausts.domain.ProcessDomain">
        <result column="每次检验编号" property="measureID" javaType="String" jdbcType="VARCHAR"/>
        <result column="车牌号码" property="licenseCard" javaType="String" jdbcType="VARCHAR"/>
        <result column="车辆注册型号" property="registerType" javaType="String" jdbcType="VARCHAR"/>
        <result column="车辆注册地址" property="registerDistrict" javaType="String" jdbcType="VARCHAR"/>
        <result column="车辆登记时间" property="registerDate" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
        <result column="车辆燃料种类" property="fuelType" javaType="java.lang.Character" jdbcType="CHAR"/>
        <result column="累计行驶里程" property="totalDistance" javaType="Double" jdbcType="DECIMAL"/>
        <result column="尾气检测方法" property="measureMethod" javaType="String" jdbcType="VARCHAR"/>
        <result column="车辆重量" property="weight" javaType="Integer" jdbcType="DECIMAL"/>
        <result column="尾气检测时间" property="measureDate" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>
        <result column="逐秒测功机载荷" property="loadPerSecond" javaType="Double" jdbcType="DECIMAL"/>
        <result column="逐秒HC浓度" property="hc" javaType="Double" jdbcType="DECIMAL"/>
        <result column="逐秒CO浓度" property="co" javaType="Double" jdbcType="DECIMAL"/>
        <result column="逐秒NO浓度" property="no" javaType="Double" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="findAll" resultMap="process">
        select * from process;
    </select>

    <select id="findByID" resultMap="process">
        select * from process where 每次检验编号 = #{name,jdbcType=VARCHAR} ;
    </select>
    <select id="findByLicense" resultMap="process">
        select * from process where 车牌号码 = #{license,jdbcType=VARCHAR} order by 尾气检测时间 desc ;
    </select>
</mapper>